/* mise en page minimale CSS */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dancing Script", cursive;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --gap: 32px;
}


/* header */

header {
    border-radius: 300px;
    margin: auto;
    position: fixed;
    width: 95%;
    background-color: #d6c0b3;
    padding: 10px 20px;
    z-index: 99;
    top: 16px;
}

.headerLink {
    font-size: 15px;
    color: #493628;
}


/* hero */

.hero {
    background-image: url(assets/bandeau_cafe2.webp);
    height: 100vh;
    color: #493628;
    position: relative;
}

.heroContent {
    position: absolute;
    background-color: #d6c0b392;
    border-radius: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* body */

body {
    background-color: #E4E0E1;
}


/* Image */

.img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.cardImg {
    width: 100%;
    border-radius: 32px;
}


/* texte */

h1 {
    font-size: 60px;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

.font15 {
    font-size: 15px;
}

.font25 {
    font-size: 25px;
}

.font35 {
    font-size: 35px;
}

h2 {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 4px;
}


/* tailles - largueur */

.large-2 {
    width: calc(16.6666666667% - 5 * var(--gap) / 6);
}

.large-3 {
    width: calc(25% - 3 * var(--gap) / 4);
}

.large-5 {
    width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
}

.large-8 {
    width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
}

/* Flexbox */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flexBene {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.textCenter {
    text-align: center;
}


/*Carte*/

.card {
    background-color: #AB886D;
    padding: 8px 16px;
    border: 2px solid var(--orange);
    border-radius: 32px;
    width: 30%;
}

.cardAvis {
    background-color: #D6C0B3;
    padding: 8px 16px;
    border: 2px solid var(--orange);
    border-radius: 12px;

    width: 25%;
}

.cardBene {
    padding: 8px 16px;
    border-radius: 12px;
    width: 100%;
}

.cardBeneImg {
    width: 100%;
    border-radius: 12px;
}


/* Boutons */

.btn {
    background-color: rgba(19, 186, 252, 0.507);
    padding: 8px 16px;
    border-radius: 32px;
    color: #fff;
    display: inline-block;
}

.little-btn {
    background-color: var(--light-orange);
    color: var(--orange);
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
}


/*Mise en page*/

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.responsive {
    display: block;
    width: 100%
}

.mb-16 {
    margin-bottom: 16px;
}


/* couleur de fond */

.bgred {
    background-color: red;
}

.bgbrown {
    background-color: rgb(165, 42, 42);
}

.bgMarronsec {
    background-color: #AB886D;
    border-radius: 12px;
}


/* Couleur */

.cwhite {
    color: #fff;
}

.cblue {
    color: rgb(41, 194, 255);
}

.cMarronFonce {
    color: #493628;
}


/*padding */

.pad {
    padding-bottom: 50px;
}

.padTop {
    padding-top: 50px;
}